main{
    background-color: orange;
}


#form_action{
    width: 95vw;
    height: 95vh;
    /* background-color: orange; */
    margin: 5px;
    padding: 5px;
}



#fieldset_one{
    width: 100%;
    height: 30%;
    /* display: flex; */
    /* background-color: blue; */
}



#div_top{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
    height: 100%;
    /* background-color: yellow; */
}



.div_top{
    display: flex;
    /* height: 20%; */
    width: 100%;
    height: 13%;
    /* background-color: red; */
}






#fieldset_two{
    width: 100%;
    height: 30%;
    /* display: flex; */
}



#div_middle{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
    height: 100%;
    /* background-color: green; */
}

.div_middle{
    display: flex;
    /* height: 20%; */
    width: 100%;
    height: 13%;
    /* background-color: aquamarine; */
}


#fieldset_three{
    height: 20%;
    width: 100%;
}


#div_under{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: space-between;
    /* background-color: black; */
}

.div_under{
    display: flex;
    /* background-color: aqua; */
}





#div_send_button{
    display: flex;
    width: 100%;
    height: 50%;
    /* background-color: blue; */
    align-items: end;
    /* justify-items: right; */
    /* align-content: end; */
    justify-content: end;
    
}



.blank{
    width: 40%;
}



.blank_field{
    width: 30%;
}


.div_top_three_buttons{
    width: 20%;
    /* border: 5px solid white; */
}


.checkbox{
    width: 2%;
}